params {
    input = "samplesheet.csv"
    outdir = "results"
    fastqc_threads = 16
    fastp_threads = 16
    min_reads = 1000000
    min_q30_rate = 0.80
    max_adapter_percent = 10.0
    max_failed_fastqc_modules = 1
}


process {
    executor = 'local'
    cpus = 4
    memory = '8 GB'
    errorStrategy = 'terminate'
}

docker.enabled = false
singularity.enabled = false

profiles {

    docker {
        docker.enabled = true

        withName: FASTQC {
            container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
        }

        withName: FASTP_QC {
            container = 'quay.io/biocontainers/fastp:1.0.1--heae3180_0'
        }

        withName: QC_GATE {
            container = 'python:3.11-slim'
        }
    }

    singularity {
        singularity.enabled = true

        withName: FASTQC {
            container = 'docker://quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
        }

        withName: FASTP_QC {
            container = 'docker://quay.io/biocontainers/fastp:1.0.1--heae3180_0'
        }

        withName: QC_GATE {
            container = 'docker://python:3.11-slim'
        }
    }
}


